##### VisualStudioCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vs/*

# Linux VisualStudioCode
.cache/*

# Ignore builds folder
build/*
out/*

# Ignore VCPKG installed
vcpkg_installed/*

# Ignore large assets
v/assets/HDR
editor/assets/HDR
editor/assets/models